/*BORDER BOX FIX*/
html{
    box-sizing: border-box;
}

/*PLACE ALL OF YOUR STYLES BELOW THIS LINE*/


body {
  font-family: 'Questrial', sans-serif;
  background-color: #333333;
  color: whitesmoke;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
  color: #ACCACA;
}

img {
  width: 15%;
  height: 90%;
}

#header {
  width: 100%;
}

.gallery {
  width: 100%;
  height: 100%;
}

.row {
  width: 100%;
  height: 20%;
}

.footer {
  width: 100%;
  background-color: #ACCACA;
  color: #333333;
  font-size: .9em;
  text-align: center;
}
